#
# Zentrale Konfigurationsdatei wird von cloud-init und allen Helper-Scripts verwendet 
#
# Definiert u.a. welche Scripts und wie die einzelnen VMs aufgebaut sind (Memory, Storage, CPU Cores)
# 
# ACHTUNG: Array Eintrage (scripts, repositories) muessen als a,b,c ohne Space eingetragen werden, sonst gibt es Probleme mit Umgebungsvariablen

######### Informatik Module siehe https://cf.ict-berufsbildung.ch/modules.php?name=Mbk&a=20100&noheader=1&clang=de #########

# Modul 100: Daten charakterisieren, aufbereiten und auswerten 
m100:
  vm:  
    storage: 8
    memory:  2048
    cores: 2
    count: 2
  services:
    nfs: true
    docker: false
    k8s: 
    wireguard: use
    ssh: generate
    samba: true
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M100
  
# Modul 104 Datenmodell implementieren  
m104:
  vm:  
    storage: 12
    memory:  2048
    cores: 2
    count: 2
  services:
    nfs: true
    docker: false
    k8s: k3s
    wireguard: use
    ssh: 
    samba: true
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M104 
  
# Modul 120: Benutzerschnittstellen implementieren 
m120:
  vm:  
    storage: 8
    memory:  2048
    cores: 2
    count: 2
  services:
    nfs: true
    docker: false
    k8s: 
    wireguard: use
    ssh: generate
    samba: true
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M120 

# Modul 122: Automatisieren mit Skripten  
m122:
  vm:  
    storage: 8
    memory:  2048
    cores: 1
    count: 2
  services:
    nfs: true
    docker: false
    k8s: 
    wireguard: use
    ssh: generate
    samba: true
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M122
  
# Modul 129: LAN-Komponenten in Betrieb nehmen (nach Erstellung 'enablevminvm m129' laufen lassen). Verbinden mittels GNS3 Desktop <IP>:3080
m129:
  vm:  
    storage: 32
    memory: 3584
    cores: 2
    count: 20
  services:
    nfs: true
    docker: false
    k8s: 
    wireguard: use
    ssh: generate
    samba: false
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M129

# Modul 141: Datenbanksystem in Betrieb nehmen
m141:
  vm:  
    storage: 24
    memory:  3584
    cores: 2
    count: 6
  services:
    nfs: true
    docker: true
    k8s: minimal
    wireguard: use
    ssh: use
    samba: true
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M141
  
# Modul 145: Netzwerk betreiben und erweitern (nach Erstellung 'enablevminvm m145' laufen lassen). Verbinden mittels GNS3 Desktop <IP>:3080
m145:
  vm:  
    storage: 32
    memory: 7680
    cores: 2
    count: 20
  services:
    nfs: true
    docker: false
    k8s: 
    wireguard: use
    ssh: generate
    samba: false
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M145
  
# Modul 152: Multimedia-Inhalte in Webauftritt integrieren  
m152:
  vm:  
    storage: 8
    memory:  2048
    cores: 2
    count: 2
  services:
    nfs: true
    docker: false
    k8s: 
    wireguard: use
    ssh: generate
    samba: true
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M152
  
# Modul 153 Datenmodelle Entwickeln 
m153:
  vm:  
    storage: 12
    memory:  2048
    cores: 2
    count: 2
  services:
    nfs: true
    docker: false
    k8s: k3s
    wireguard: use
    ssh: 
    samba: true
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M153

# Modul 158: Software-Migration planen und durchführen
m158:
  vm:  
    storage: 8
    memory:  2048
    cores: 2
    count: 24
  services:
    nfs: true
    docker: false
    k8s: 
    wireguard: use
    ssh: generate
    samba: true
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M158
   
# Modul: 182 Systemsicherheit implementieren
m182:
  vm:  
    storage: 12
    memory:  2048
    cores: 2
    count: 20
  services:
    nfs: true
    docker: false
    k8s: 
    wireguard: use
    ssh: generate
    samba: false
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M182
  
# Modul 183: Applikationssicherheit implementieren (Kubernetes und Webgoat)
m183:
  vm:  
    storage: 12
    memory:  2048
    cores: 2
    count: 20
  services:
    nfs: true
    docker: false
    k8s: k3s
    wireguard: use
    ssh: 
    samba: false
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M183    
  
# Modul 226: Objektorientiert implementieren (Kubernetes mit 24 x BeakerX gestartet)
m226:
  vm:  
    storage: 24
    memory:  7680
    cores: 4
    count: 1
  services:
    nfs: true
    docker: true
    k8s: minimal
    wireguard: use
    ssh: use
    samba: true
    firewall: false
  scripts: 
  repositories:
    
# Modul 239: Internet Server in Betrieb nehmen  
m239:
  vm:  
    storage: 8
    memory:  2048
    cores: 2
    count: 24
  services:
    nfs: true
    docker: false
    k8s: 
    wireguard: use
    ssh: generate
    samba: true
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M239
   
# Modul 242: Mikroprozessoranwendung realisieren
m242:
  vm:  
    storage: 18
    memory:  1984
    cores: 2
    count: 24
  services:
    nfs: true
    docker: true
    k8s: 
    wireguard: use
    ssh: generate
    samba: false
    firewall: false
  scripts: proxy-server.sh
  repositories: https://github.com/tbz-it/M242
  
# Modul 254 Geschäftsprozesse beschreiben (Kubernetes mit Camunda BPMN Workflow)
m254:
  vm:  
    storage: 12
    memory:  2048
    cores: 2
    count: 20
  services:
    nfs: true
    docker: false
    k8s: k3s
    wireguard: use
    ssh: generate
    samba: false
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M254
  
# Modul 300: Plattformuebergreifende Dienste in ein Netzwerk integrieren
m300:
  vm:  
    storage: 24
    memory:  4864
    cores: 2
    count: 20
  services:
    nfs: true
    docker: true
    k8s: master
    wireguard: use
    ssh: generate
    samba: false
    firewall: false
  scripts: vagrant.sh,eclipse-theia.sh,gnome-desktop.sh
  repositories: 
  
# Modul 169: Services mit Containern bereitstellen
m169:
  vm:  
    storage: 24
    memory:  3584
    cores: 2
    count: 1
  services:
    nfs: true
    docker: true
    k8s: microk8s
    wireguard: use
    ssh: generate
    samba: false
    firewall: false
  scripts: dind.sh
  repositories: https://github.com/tbz-it/M169
  
# Modul 321: Verteilte Systeme analysieren, verstehen, planen, erweitern und anwenden, sowie bestehende Applikationen in ein verteiltes System überfuehren.
m321:
  vm:  
    storage: 24
    memory:  3584
    cores: 2
    count: 1
  services:
    nfs: true
    docker: true
    k8s: microk8s
    wireguard: use
    ssh: generate
    samba: false
    firewall: false
  scripts: dind.sh
  repositories: https://github.com/stefan-kemper/M321
  
# Modul 347: Dienst mit Container anwenden
m347:
  vm:  
    storage: 24
    memory:  3584
    cores: 2
    count: 1
  services:
    nfs: true
    docker: true
    k8s: microk8s
    wireguard: use
    ssh: generate
    samba: false
    firewall: false
  scripts: dind.sh
  repositories: https://github.com/tbz-it/M347 
  
# Modul 426 Software mit agilen Methoden entwickeln (duk/devops Umgebung - gogs, kanboard, jenkins, duk/compiler - make, maven, mbed-cli) 
m426:
  vm:  
    storage: 8
    memory:  3584
    cores: 2
    count: 6
  services:
    nfs: true
    docker: true
    k8s: minimal
    wireguard: use
    ssh: generate
    samba: false
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M426

# Modul 431: Auftraege selbststaendig ausfuehren
m431:
  vm:  
    storage: 8
    memory:  2048
    cores: 1
    count: 2
  services:
    nfs: true
    docker: false
    k8s: 
    wireguard: use
    ssh: generate
    samba: true
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M431
  
# Modul 437 Arbeiten im Support (Minimale Kubernetes Umgebung, OSS Ticket, MySQL DB)  
m437:
  vm:  
    storage: 30
    memory:  2048
    cores: 2
    count: 20
  services:
    nfs: true
    docker: false
    k8s: k3s
    wireguard: use
    ssh: 
    samba: false
    firewall: false
  scripts: 
  repositories: https://github.com/tbz-it/M437 
  
######### GNS3 Umgebungen #########

# microk8s Kubernetes - https://microk8s.io/ 
microk8s:
  vm:  
    storage: 18
    memory:  4096
    cores: 2
    count: 1
  services:
    nfs: true
    docker: false
    k8s: microk8s
    wireguard: use
    ssh: generate
    samba: false
    firewall: false
  scripts: 
  repositories:   
  
######### Diverse Kurse ######### 

# Modul GNS3: Netzwerk betreiben und erweitern (nach Erstellung 'enablevminvm gns3' laufen lassen). Verbinden mittels GNS3 Desktop <IP>:3080
gns3:
  vm:  
    storage: 32
    memory: 3584
    cores: 2
    count: 20
  services:
    nfs: true
    docker: false
    k8s: 
    wireguard: use
    ssh: generate
    samba: false
    firewall: false
  scripts: 
  repositories: https://github.com/mc-b/lerngns3
